In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
iris = datasets.load_iris()
import random
import sys
import os
from pathlib import Path
sys.path.append(str(Path.cwd().parent))
from src.models_fn.imputer_models import measure_val_error,XGBImputer,MySimpleImputer
from src.data_fn.data_process import simulate_missing_values,replace_infs
from pyTest.test_suite import get_test_data
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.metrics import mean_squared_error,f1_score
import warnings
warnings.filterwarnings("ignore")
from sklearn.impute import SimpleImputer

Importing C:\Users\johma\Desktop\main\4fun\AutoImputer\src\models_fn\imputer_models.py
Importing C:\Users\johma\Desktop\main\4fun\AutoImputer\src\data_fn\data_process.py

C:\Users\johma\miniconda3\envs\AutoImputer\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [3]:
data = pd.read_csv('..\data\processed\iris_original.csv')
curr_df = simulate_missing_values(data,output_name=None,prop=0.7)
inf_df = curr_df.copy()
inf_df['target'] = inf_df['target'].map({0.0:'A',1.0:'B',2.0:'C'})
inf_df.iloc[0,2] = -np.inf
dtypes = ["numeric", "numeric", "numeric", "numeric", "categorical"]
cols = data.columns
dtype_list = dict(zip(cols, dtypes))
imp1 = MySimpleImputer(dtype_list=dtype_list)

In [5]:
data = pd.read_csv(r'..\data\processed\adult_nans_04.csv')
dtypes = ["numeric", "categorical", "numeric", "categorical", "numeric", "categorical", "categorical", "categorical", "categorical", "categorical",'numeric','numeric','numeric','categorical','categorical']
cols = data.columns
dtype_list = dict(zip(cols, dtypes))
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50.0,NaN,NaN,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,NaN,NaN,NaN,<=50K
1,38.0,NaN,NaN,NaN,9.0,Divorced,NaN,Not-in-family,NaN,Male,0.0,0.0,40.0,United-States,<=50K
2,NaN,NaN,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,NaN,Male,NaN,NaN,NaN,United-States,<=50K
3,NaN,Private,338409.0,NaN,13.0,Married-civ-spouse,Prof-specialty,NaN,NaN,Female,0.0,0.0,NaN,Cuba,<=50K
4,37.0,NaN,NaN,Masters,14.0,NaN,Exec-managerial,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,NaN,Private,257302.0,Assoc-acdm,NaN,NaN,Tech-support,Wife,NaN,Female,NaN,NaN,38.0,United-States,NaN
32556,40.0,NaN,NaN,HS-grad,NaN,NaN,NaN,Husband,White,Male,0.0,0.0,NaN,United-States,>50K
32557,58.0,NaN,151910.0,HS-grad,NaN,Widowed,Adm-clerical,Unmarried,White,Female,0.0,NaN,40.0,NaN,NaN
32558,22.0,Private,NaN,HS-grad,9.0,NaN,Adm-clerical,NaN,White,NaN,0.0,NaN,20.0,United-States,<=50K
32559,NaN,Self-emp-inc,287927.0,HS-grad,NaN,Married-civ-spouse,NaN,NaN,NaN,Female,NaN,0.0,40.0,NaN,NaN

In [7]:
# imp1 = MySimpleImputer(dtype_list=dtype_list)
imp1 = XGBImputer(dtype_list=dtype_list)
res = imp1.impute(data)
res

In [212]:
test_suite =get_test_data()

In [268]:
data = test_suite[5]
df = data[0]
dtypes = data[1]
# df = data[0].iloc[:,:-1]
# dtypes = data[1][:-1]
df

,qtvwmvswvy,pgtntxfdrn,rqfcmaheps,innjumxynp,xliqlwacxs,zqbppdnpdf,jiioawnlnp,wzcsrmldlj,miozvmltrn,jxopgffqcd,oyphxlfejj,yltbfdcbla
0,rxppk,0.086140,tqxbn,0.057484,0.587919,0.493028,vlgvw,pfhqc,0.146239,igrfp,eubpv,sqonc
1,rxppk,0.147364,NaN,0.699985,0.810705,0.085853,vlgvw,pfhqc,0.868597,lyagj,wedab,NaN
2,rxppk,0.170680,tqxbn,NaN,0.484804,0.600269,NaN,pfhqc,NaN,NaN,hnxff,rqgbq
3,slewh,0.754001,rppir,0.338427,0.433620,0.759356,vlgvw,pfhqc,0.475796,lyagj,wedab,NaN
4,NaN,0.418865,tqxbn,0.028008,0.817933,NaN,xpoio,pfhqc,0.818675,NaN,eubpv,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1855,NaN,0.892030,tqxbn,NaN,0.823350,0.701047,xykwp,pfhqc,NaN,lyagj,hnxff,sqonc
1856,rxppk,0.609157,rppir,0.404942,NaN,0.175571,xykwp,NaN,0.925020,igrfp,eubpv,NaN
1857,slewh,0.283147,tqxbn,0.447465,0.623356,0.316560,vlgvw,pfhqc,NaN,NaN,eubpv,rqgbq
1858,rxppk,0.130750,rppir,NaN,NaN,0.702082,xpoio,aefee,NaN,igrfp,NaN,sqonc
1859,slewh,NaN,tqxbn,0.081017,0.299234,0.468774,xykwp,NaN,0.802800,lyagj,wedab,vnydb

In [199]:
df.dropna(axis=0, how="any")

,wqqekleltx,xqwpikaifv,pvrxjbhsao,ozesdrhvfv,bhiwzsjcah,esimowgalt,nojtiktyjz,rlmvtnbywf,vjqulzrung,yboscnzgdp,lptegyilbo,rcfqmlcbvt
12,pxjid,fhrlu,kzadf,bznhq,epnjs,0.108355,ffeva,ilwrm,jrerm,yfrdz,0.943722,0.122058
70,vlklu,vhqcd,qzrnf,bznhq,doges,0.912792,xtfky,mrcss,yhxxy,roopy,0.069213,0.332645
266,cithk,fhrlu,qzrnf,oqcsx,epnjs,0.902620,xtfky,ilwrm,yhxxy,roopy,0.554181,0.469319
492,pxjid,vhqcd,qzrnf,oqcsx,epnjs,0.933458,ffeva,mxpeq,utudx,yqzbo,0.803275,0.931449
664,vcsyw,jdinw,kzadf,bznhq,doges,0.766599,xtfky,ilwrm,jnbes,roopy,0.532192,0.478239
...,...,...,...,...,...,...,...,...,...,...,...,...
6845,pxjid,jdinw,qzrnf,bznhq,mfzqh,0.394251,xtfky,ilwrm,jnbes,cmnwf,0.505343,0.081912
6893,vlklu,vhqcd,qzrnf,oqcsx,jjljc,0.177192,ffeva,ilwrm,jrerm,yqzbo,0.054941,0.999104
6932,cithk,fhrlu,qzrnf,oqcsx,doges,0.463598,ffeva,kkmbq,utudx,yqzbo,0.311526,0.174785
6963,cithk,jdinw,qzrnf,oqcsx,jjljc,0.614631,ffeva,kkmbq,utudx,cmnwf,0.249931,0.606473
7008,cithk,jdinw,husim,wmnye,doges,0.691892,ffeva,mxpeq,jrerm,cmnwf,0.350828,0.684324

In [301]:
dtype_list= dict(zip(df.columns,dtypes))
imputer = MySimpleImputer(dtype_list=dtype_list)
imputer.impute(df)

,qtvwmvswvy,pgtntxfdrn,rqfcmaheps,innjumxynp,xliqlwacxs,zqbppdnpdf,jiioawnlnp,wzcsrmldlj,miozvmltrn,jxopgffqcd,oyphxlfejj,yltbfdcbla
0,rxppk,0.08614,tqxbn,0.057484,0.587919,0.493028,vlgvw,pfhqc,0.146239,igrfp,eubpv,sqonc
1,rxppk,0.147364,tqxbn,0.699985,0.810705,0.085853,vlgvw,pfhqc,0.868597,lyagj,wedab,paeqw
2,rxppk,0.17068,tqxbn,0.501244,0.484804,0.600269,vlgvw,pfhqc,0.504999,lyagj,hnxff,rqgbq
3,slewh,0.754001,rppir,0.338427,0.43362,0.759356,vlgvw,pfhqc,0.475796,lyagj,wedab,paeqw
4,slewh,0.418865,tqxbn,0.028008,0.817933,0.511991,xpoio,pfhqc,0.818675,lyagj,eubpv,paeqw
...,...,...,...,...,...,...,...,...,...,...,...,...
1855,slewh,0.89203,tqxbn,0.501244,0.82335,0.701047,xykwp,pfhqc,0.504999,lyagj,hnxff,sqonc
1856,rxppk,0.609157,rppir,0.404942,0.503651,0.175571,xykwp,pfhqc,0.92502,igrfp,eubpv,paeqw
1857,slewh,0.283147,tqxbn,0.447465,0.623356,0.31656,vlgvw,pfhqc,0.504999,lyagj,eubpv,rqgbq
1858,rxppk,0.13075,rppir,0.501244,0.503651,0.702082,xpoio,aefee,0.504999,igrfp,eubpv,sqonc
1859,slewh,0.498257,tqxbn,0.081017,0.299234,0.468774,xykwp,pfhqc,0.8028,lyagj,wedab,vnydb

In [302]:
df
# idf = replace_infs(df.copy())
# num_cols = [k for k in dtype_list if dtype_list[k] == "numeric"]
# cat_cols = [col for col in idf.columns if col not in num_cols]

# column_trans = ColumnTransformer(
#     [('imp_col1', SimpleImputer(strategy='mean'), num_cols),
#     ('imp_col2', SimpleImputer(strategy='most_frequent'), cat_cols)],
#     remainder='passthrough')

,qtvwmvswvy,pgtntxfdrn,rqfcmaheps,innjumxynp,xliqlwacxs,zqbppdnpdf,jiioawnlnp,wzcsrmldlj,miozvmltrn,jxopgffqcd,oyphxlfejj,yltbfdcbla
0,rxppk,0.086140,tqxbn,0.057484,0.587919,0.493028,vlgvw,pfhqc,0.146239,igrfp,eubpv,sqonc
1,rxppk,0.147364,NaN,0.699985,0.810705,0.085853,vlgvw,pfhqc,0.868597,lyagj,wedab,NaN
2,rxppk,0.170680,tqxbn,NaN,0.484804,0.600269,NaN,pfhqc,NaN,NaN,hnxff,rqgbq
3,slewh,0.754001,rppir,0.338427,0.433620,0.759356,vlgvw,pfhqc,0.475796,lyagj,wedab,NaN
4,NaN,0.418865,tqxbn,0.028008,0.817933,NaN,xpoio,pfhqc,0.818675,NaN,eubpv,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1855,NaN,0.892030,tqxbn,NaN,0.823350,0.701047,xykwp,pfhqc,NaN,lyagj,hnxff,sqonc
1856,rxppk,0.609157,rppir,0.404942,NaN,0.175571,xykwp,NaN,0.925020,igrfp,eubpv,NaN
1857,slewh,0.283147,tqxbn,0.447465,0.623356,0.316560,vlgvw,pfhqc,NaN,NaN,eubpv,rqgbq
1858,rxppk,0.130750,rppir,NaN,NaN,0.702082,xpoio,aefee,NaN,igrfp,NaN,sqonc
1859,slewh,NaN,tqxbn,0.081017,0.299234,0.468774,xykwp,NaN,0.802800,lyagj,wedab,vnydb

['pgtntxfdrn',
 'innjumxynp',
 'xliqlwacxs',
 'zqbppdnpdf',
 'miozvmltrn',
 'qtvwmvswvy',
 'rqfcmaheps',
 'jiioawnlnp',
 'wzcsrmldlj',
 'jxopgffqcd',
 'oyphxlfejj',
 'yltbfdcbla']

In [297]:
df

,qtvwmvswvy,pgtntxfdrn,rqfcmaheps,innjumxynp,xliqlwacxs,zqbppdnpdf,jiioawnlnp,wzcsrmldlj,miozvmltrn,jxopgffqcd,oyphxlfejj,yltbfdcbla
0,rxppk,0.086140,tqxbn,0.057484,0.587919,0.493028,vlgvw,pfhqc,0.146239,igrfp,eubpv,sqonc
1,rxppk,0.147364,NaN,0.699985,0.810705,0.085853,vlgvw,pfhqc,0.868597,lyagj,wedab,NaN
2,rxppk,0.170680,tqxbn,NaN,0.484804,0.600269,NaN,pfhqc,NaN,NaN,hnxff,rqgbq
3,slewh,0.754001,rppir,0.338427,0.433620,0.759356,vlgvw,pfhqc,0.475796,lyagj,wedab,NaN
4,NaN,0.418865,tqxbn,0.028008,0.817933,NaN,xpoio,pfhqc,0.818675,NaN,eubpv,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1855,NaN,0.892030,tqxbn,NaN,0.823350,0.701047,xykwp,pfhqc,NaN,lyagj,hnxff,sqonc
1856,rxppk,0.609157,rppir,0.404942,NaN,0.175571,xykwp,NaN,0.925020,igrfp,eubpv,NaN
1857,slewh,0.283147,tqxbn,0.447465,0.623356,0.316560,vlgvw,pfhqc,NaN,NaN,eubpv,rqgbq
1858,rxppk,0.130750,rppir,NaN,NaN,0.702082,xpoio,aefee,NaN,igrfp,NaN,sqonc
1859,slewh,NaN,tqxbn,0.081017,0.299234,0.468774,xykwp,NaN,0.802800,lyagj,wedab,vnydb