In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
iris = datasets.load_iris()
import random
import sys
import os
from pathlib import Path
sys.path.append(str(Path.cwd().parent))
from src.models_fn.imputer_models import measure_val_error,XGBImputer,MySimpleImputer
from src.data_fn.data_process import simulate_missing_values,replace_infs
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

Importing C:\Users\johma\Desktop\main\4fun\AutoImputer\src\models_fn\imputer_models.py
Importing C:\Users\johma\Desktop\main\4fun\AutoImputer\src\data_fn\data_process.py

In [2]:
data = pd.read_csv('..\data\processed\iris_original.csv')
curr_df = simulate_missing_values(data,output_name=None,prop=0.3)
inf_df = curr_df.copy()
inf_df['target'] = inf_df['target'].map({0.0:'A',1.0:'B',2.0:'C'})
dtypes = ["numeric", "numeric", "numeric", "numeric", "categorical"]
cols = data.columns
dtype_list = dict(zip(cols, dtypes))

In [3]:
curr_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,NaN,0.0
1,4.9,3.0,1.4,NaN,0.0
2,NaN,3.2,NaN,NaN,NaN
3,4.6,3.1,1.5,NaN,NaN
4,NaN,3.6,NaN,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,NaN,2.5,NaN,1.9,NaN
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,NaN,NaN,2.0
149,5.9,3.0,5.1,NaN,NaN

In [5]:
# data[data.select_dtypes(include='number').columns]
imp1 = MySimpleImputer(dtype_list=dtype_list)
res = imp1.impute(inf_df)
res

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.100000,3.5,1.400000,1.183784,A
1,4.900000,3.0,1.400000,1.183784,A
2,5.882243,3.2,3.844545,1.183784,C
3,4.600000,3.1,1.500000,1.183784,C
4,5.882243,3.6,3.844545,0.200000,A
...,...,...,...,...,...
145,6.700000,3.0,5.200000,2.300000,C
146,5.882243,2.5,3.844545,1.900000,C
147,6.500000,3.0,5.200000,2.000000,C
148,6.200000,3.4,3.844545,1.183784,C
149,5.900000,3.0,5.100000,1.183784,C

In [5]:
dtypes = ["numeric", "numeric", "numeric", "numeric", "categorical"]
cols = data.columns
dtype_list = dict(zip(cols, dtypes))
# data, dtype_list = format_dtypes(data, dtypes=dtypes, cols=cols)
imp = XGBImputer(dtype_list=dtype_list, random_seed=42, verbose=0, cv=2)
res = imp.impute(curr_df)

In [6]:
res

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.100000,2.530076,1.400000,0.266806,0
1,4.900000,3.000000,1.558515,0.308119,0
2,4.700000,3.329635,1.300000,0.200000,0
3,4.600000,3.377945,1.334072,0.200000,0
4,5.000000,3.600000,1.400000,0.200000,0
...,...,...,...,...,...
145,6.700000,3.323565,5.547719,2.300000,2
146,6.445252,2.700566,5.000000,1.900000,2
147,6.500000,3.000000,5.200000,2.000000,2
148,6.200000,3.400000,5.037148,2.300000,2
149,5.900000,2.637488,5.100000,1.932239,2