In [2]:
from sklearn import datasets
import pandas as pd
import numpy as np
# import some data to play with
iris = datasets.load_iris()
import random

In [3]:
def get_test_data_single_col():
    """Creates test dataframes and imputes the missing values"""
    test_set = []
    for size in range(20,100,10):
        col_names = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[:10]
        rand_col = random.choice(col_names)
        curr_df = pd.DataFrame(np.random.randint(-50,9000,size=(size,10)), columns=col_names)
        curr_df.loc[curr_df.sample(np.random.randint(5,int(size*0.4)), random_state=32).index,rand_col] = np.nan
        test_set.append((curr_df,rand_col,curr_df[rand_col].mean(skipna=True)))

    # for i in range(test_n):
    #     test_set.append((np.array(test_vectors[i,:],dtype='complex'),np.fft.fft(test_vectors[i,:]).reshape((-1,1))))
    # return [(np.array(test_vectors[0,:],dtype='complex'),np.fft.fft(test_vectors[0,:]).reshape((-1,1)))]
    return test_set

In [4]:
x = get_test_data_single_col()

In [7]:
x[0][0]

       A     B     C     D     E       F     G     H     I     J
0    591  3946  4609  6783  6301  2356.0  5659  8190  5029  8403
1   5792  3365  2983   168  4902  1420.0  5315  7887  6230  3479
2   5724  2783  7407  1847  2821  1125.0  5709  7363  1978  6863
3   5985  3123  4346  4407  1794  6892.0  7215  5069  4567  6252
4   7798   985  4277  5667  1334  7670.0   572  6674   782  8064
5   1356  4528  3969  3425  2798  4368.0  3186  2570  7340  7219
6   1766  2075  5352  6146  6720     NaN  3563  3179  4250  8076
7   8243  8892  6546  2713  8030    40.0  5916  6067  3035  8251
8   2528  5984   455  6555  3563     NaN  8507  3902  2342  5695
9   5593  6793  4516  7702   927  3094.0  5858  6292  4557  3322
10  1668  7443  6343  4997  7694  7133.0  2715  2660  4884  5059
11   386  5609  6907   203  8360    21.0  7696   902  1421  3413
12  3276  1893  3706  6882  7664     NaN  5506  3293  1455  2044
13  6411  1052  8057  8946  5243  1936.0    -4   982  8248  8767
14  8810  5797  5524  4418  6566  1866.0   254  4522  5809  5856
15  7490  3404  2176  7170  7703     NaN  3444  4961  6821  3894
16  7867  5683  3794  8172  6057  3305.0  4670  1381  8070  5184
17  4012  7569  8717  3052  7852     NaN  8731  2315  4836  7808
18  5698   974  2197  7124  7208  6040.0  6845  8341  6463  8951
19  8168   418  5773  1369  5029  7701.0  5616  8175   384  6100

In [2]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [3]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [4]:
# df[np.random.randint():'sepal length (cm)']
df.loc[df.sample(10, random_state=32).index,'sepal length (cm)'] = np.nan

In [5]:
df[~pd.isnull(df).any(axis=1)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [6]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

imp_mean.fit(df[~pd.isnull(df).any(axis=1)])
X = df[pd.isnull(df).any(axis=1)]
res = imp_mean.transform(X)

In [7]:
df[pd.isnull(df).any(axis=1)].index

Int64Index([21, 22, 23, 26, 34, 55, 56, 85, 131, 134], dtype='int64')

array(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'all'], dtype=object)

In [28]:
x = set().add('all')
x.add('all')

In [27]:
x

{'all',
 'petal length (cm)',
 'petal width (cm)',
 'sepal length (cm)',
 'sepal width (cm)',
 'target'}