In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
# import some data to play with
iris = datasets.load_iris()
import random

In [2]:
def get_test_data_single_col():
    """Creates test dataframes and imputes the missing values"""
    test_set = []
    for size in range(20,100,10):
        col_names = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[:10]
        rand_col = random.choice(col_names)
        curr_df = pd.DataFrame(np.random.randint(-50,9000,size=(size,10)), columns=col_names)
        curr_df.loc[curr_df.sample(np.random.randint(5,int(size*0.4)), random_state=32).index,rand_col] = np.nan
        test_set.append((curr_df,rand_col,curr_df[rand_col].mean(skipna=True)))

    # for i in range(test_n):
    #     test_set.append((np.array(test_vectors[i,:],dtype='complex'),np.fft.fft(test_vectors[i,:]).reshape((-1,1))))
    # return [(np.array(test_vectors[0,:],dtype='complex'),np.fft.fft(test_vectors[0,:]).reshape((-1,1)))]
    return test_set

In [14]:
x = get_test_data_single_col()

In [15]:
df = x[0][0]

In [47]:
# df.empty
# True if np.dtype('int32') in df.dtypes.tolist() else False
# set(df.dtypes.tolist())
# df.isnull().sum().sum()/(df.shape[0]*df.shape[1])

True if np.dtype('object') not in set(df.dtypes.tolist()) else False

True

In [46]:
df.isnull().sum()

A    7
B    0
C    0
D    0
E    0
F    0
G    0
H    0
I    0
J    0
dtype: int64

In [22]:
np.append(np.array(['A']),df.columns[df.isna().any()].values)

array(['A', 'A'], dtype=object)

In [5]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [7]:
# df[np.random.randint():'sepal length (cm)']
df.loc[df.sample(10, random_state=32).index,'sepal length (cm)'] = np.nan

In [8]:
df[~pd.isnull(df).any(axis=1)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [9]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

imp_mean.fit(df[~pd.isnull(df).any(axis=1)])
X = df[pd.isnull(df).any(axis=1)]
res = imp_mean.transform(X)

In [10]:
df[pd.isnull(df).any(axis=1)].index

Int64Index([21, 22, 23, 26, 34, 55, 56, 85, 131, 134], dtype='int64')

In [11]:
x = set().add('all')
x.add('all')

AttributeError: 'NoneType' object has no attribute 'add'

In [ ]:
x

{'all',
 'petal length (cm)',
 'petal width (cm)',
 'sepal length (cm)',
 'sepal width (cm)',
 'target'}