In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
# import some data to play with
iris = datasets.load_iris()
import random
import os

In [2]:
def get_test_data_single_col():
    """Creates test dataframes and imputes the missing values"""
    test_set = []
    for size in range(20,100,10):
        col_names = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[:10]
        rand_col = random.choice(col_names)
        curr_df = pd.DataFrame(np.random.randint(-50,100,size=(size,10)), columns=col_names)
        curr_df.loc[curr_df.sample(np.random.randint(5,int(size*0.4)), random_state=32).index,rand_col] = np.nan
        test_set.append((curr_df,rand_col,curr_df[rand_col].mean(skipna=True)))

    # for i in range(test_n):
    #     test_set.append((np.array(test_vectors[i,:],dtype='complex'),np.fft.fft(test_vectors[i,:]).reshape((-1,1))))
    # return [(np.array(test_vectors[0,:],dtype='complex'),np.fft.fft(test_vectors[0,:]).reshape((-1,1)))]
    return test_set

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error
import pandas as pd
import numpy as np
import random

# x = get_test_data_single_col()
# df = x[0][0]
# curr_df = df.dropna(axis=0,how='any').copy()
# path_project = os.path.abspath(
# os.path.join(__file__, "../.."))
# path_processed_data = +'/data/processed/'
# path_raw_data = path_project+'/data/raw/'
curr_df = pd.read_csv('..\data\processed\iris_original.csv')

class MySimpleImputer():
    def __init__(self,target_col,**kwargs):
        self.target_col = target_col
        self.strategy = kwargs.get('strategy','mean')

    def impute(self,df):
        imp = SimpleImputer(missing_values=np.nan, strategy=self.strategy)
        if self.target_col == 'ALL':
            idf = pd.DataFrame(imp.fit_transform(df))
            idf.columns = df.columns
            idf.index = df.index
        else:
            idf = df.copy()
            imp.fit(idf[self.target_col].values.reshape(-1, 1))
            idf[self.target_col] = imp.transform(idf[self.target_col].values.reshape(-1, 1))
        return idf
imputer = MySimpleImputer(target_col='sepal length (cm)')        
nans = curr_df.mask((np.random.random(curr_df.shape)<.4) & (curr_df.columns == imputer.target_col))
target = curr_df[nans[imputer.target_col].isna()][imputer.target_col].values
res = imputer.impute(nans)
res_values = res[nans[imputer.target_col].isna()][imputer.target_col].values
mean_squared_error(target,res_values,squared=True)

0.6050659657802516

In [12]:
cols = curr_df.columns
cat_cols = ['target']

In [13]:
['numeric' if col not in cat_cols else 'categorical' for col in cols]

['numeric', 'numeric', 'numeric', 'numeric', 'categorical']

In [3]:
x = get_test_data_single_col()
df = x[0][0]
curr_df = df.dropna(axis=0,how='any').copy()

In [4]:
df = x[0][0]
curr_df = df.dropna(axis=0,how='any').copy()

In [5]:
# df.empty
# True if np.dtype('int32') in df.dtypes.tolist() else False
# set(df.dtypes.tolist())
# df.isnull().sum().sum()/(df.shape[0]*df.shape[1])

True if np.dtype('object') not in set(df.dtypes.tolist()) else False

True

In [22]:
curr_df = df.dropna(axis=0,how='any').copy()
train = curr_df.loc[curr_df.sample(int(curr_df.shape[0]*0.8), random_state=32).index]
test = curr_df[~curr_df.index.isin(train.index)]

In [34]:
curr_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [64]:
# np.random.random(curr_df.shape)
nans = curr_df.mask(np.random.random(curr_df.shape)<.4)
# nans = curr_df.mask((np.random.random(curr_df.shape)<.4) & (curr_df.columns == 'sepal length (cm)'))
np.array(nans.to_numpy()).ravel()
# curr_df[nans['sepal length (cm)'].isna()]
# nans

array([5.1, nan, 1.4, nan, 0. , nan, nan, 1.4, 0.2, 0. , 4.7, 3.2, nan,
       0.2, 0. , 4.6, nan, 1.5, nan, nan, 5. , 3.6, nan, 0.2, 0. , 5.4,
       3.9, nan, nan, nan, 4.6, nan, 1.4, 0.3, nan, 5. , nan, 1.5, 0.2,
       nan, 4.4, nan, 1.4, nan, nan, nan, nan, nan, nan, nan, 5.4, 3.7,
       1.5, 0.2, 0. , nan, 3.4, nan, 0.2, nan, nan, 3. , 1.4, nan, nan,
       4.3, 3. , 1.1, 0.1, nan, 5.8, nan, nan, 0.2, 0. , 5.7, nan, 1.5,
       0.4, 0. , 5.4, 3.9, nan, nan, 0. , 5.1, 3.5, nan, 0.3, 0. , 5.7,
       3.8, nan, nan, nan, 5.1, 3.8, nan, nan, 0. , nan, nan, nan, 0.2,
       0. , 4.8, nan, 1.9, 0.2, nan, 5. , nan, nan, nan, nan, 5.2, 3.5,
       nan, nan, 0. , 5.2, 3.4, 1.4, nan, 0. , 4.7, nan, nan, 0.2, 0. ,
       4.8, 3.1, 1.6, 0.2, nan, 5.4, 3.4, 1.5, 0.4, nan, 5.2, 4.1, 1.5,
       nan, 0. , nan, nan, nan, 0.2, 0. , 5. , 3.2, 1.2, nan, 0. , nan,
       nan, nan, nan, 0. , 4.9, nan, 1.4, 0.1, nan, nan, nan, 1.3, 0.2,
       nan, 5.1, nan, 1.5, 0.2, 0. , 5. , 3.5, nan, nan, 0. , 4.5, nan,
       1.3, 0.3, nan, 4.4, 3.2, 1.3, 0.2, 0. , nan, nan, nan, 0.6, 0. ,
       nan, nan, 1.9, nan, 0. , 4.8, nan, 1.4, 0.3, 0. , 5.1, 3.8, 1.6,
       0.2, 0. , nan, nan, nan, 0.2, 0. , 5.3, nan, 1.5, 0.2, 0. , nan,
       3.3, nan, 0.2, 0. , nan, nan, 4.7, 1.4, 1. , nan, nan, 4.5, 1.5,
       1. , 6.9, 3.1, 4.9, 1.5, 1. , 5.5, nan, 4. , 1.3, 1. , nan, nan,
       nan, nan, nan, 4.9, 2.4, 3.3, 1. , nan, nan, 2.9, 4.6, 1.3, 1. ,
       5.2, 2.7, 3.9, 1.4, 1. , nan, nan, 3.5, 1. , 1. , 5.9, 3. , 4.2,
       1.5, nan, 6. , 2.2, 4. , 1. , 1. , 6.1, nan, 4.7, 1.4, nan, nan,
       2.9, nan, 1.3, 1. , nan, 3.1, 4.4, 1.4, nan, 5.6, nan, nan, 1.5,
       1. , nan, 2.7, 4.1, 1. , nan, 6.2, 2.2, 4.5, 1.5, 1. , nan, nan,
       3.9, 1.1, 1. , nan, nan, 4.8, 1.8, nan, 6.1, nan, nan, 1.3, nan,
       6.3, 2.5, 4.9, 1.5, nan, 6.1, 2.8, nan, nan, 1. , 6.4, 2.9, 4.3,
       1.3, 1. , nan, 3. , nan, 1.4, 1. , nan, 2.8, 4.8, nan, nan, 6.7,
       nan, 5. , nan, nan, nan, 2.9, 4.5, 1.5, 1. , 5.7, nan, 3.5, nan,
       nan, 5.5, nan, 3.8, 1.1, 1. , nan, 2.4, 3.7, 1. , 1. , 5.8, 2.7,
       nan, nan, nan, nan, 2.7, nan, 1.6, 1. , 5.4, nan, 4.5, 1.5, nan,
       nan, 3.1, nan, nan, 1. , 6.3, 2.3, nan, 1.3, 1. , 5.6, 3. , 4.1,
       1.3, 1. , nan, nan, 4. , 1.3, 1. , 5.5, 2.6, nan, nan, 1. , nan,
       3. , nan, nan, 1. , 5.8, 2.6, nan, 1.2, 1. , nan, nan, 3.3, nan,
       1. , 5.6, nan, nan, nan, nan, nan, 3. , 4.2, 1.2, nan, 5.7, 2.9,
       4.2, nan, nan, 6.2, nan, nan, nan, 1. , 5.1, 2.5, nan, 1.1, nan,
       5.7, 2.8, 4.1, nan, 1. , nan, nan, nan, 2.5, 2. , nan, 2.7, nan,
       1.9, 2. , nan, nan, nan, nan, 2. , nan, 2.9, 5.6, nan, 2. , 6.5,
       3. , 5.8, nan, 2. , 7.6, 3. , nan, 2.1, nan, nan, nan, 4.5, 1.7,
       nan, 7.3, 2.9, 6.3, 1.8, nan, 6.7, nan, nan, nan, nan, 7.2, 3.6,
       6.1, nan, nan, 6.5, 3.2, nan, 2. , nan, nan, 2.7, nan, 1.9, 2. ,
       6.8, 3. , nan, 2.1, nan, nan, 2.5, nan, 2. , nan, 5.8, 2.8, 5.1,
       2.4, 2. , nan, 3.2, 5.3, nan, 2. , 6.5, 3. , nan, nan, 2. , 7.7,
       nan, nan, 2.2, 2. , nan, 2.6, 6.9, 2.3, nan, 6. , nan, 5. , 1.5,
       2. , nan, nan, 5.7, 2.3, 2. , 5.6, nan, nan, nan, 2. , nan, nan,
       6.7, 2. , 2. , nan, 2.7, 4.9, nan, nan, nan, nan, 5.7, nan, nan,
       7.2, 3.2, 6. , 1.8, nan, 6.2, 2.8, 4.8, nan, 2. , 6.1, 3. , 4.9,
       nan, 2. , 6.4, 2.8, 5.6, 2.1, nan, nan, nan, nan, nan, nan, nan,
       nan, 6.1, nan, 2. , nan, nan, 5.6, nan, 2. , 6.3, nan, nan, 1.5,
       2. , 7.7, nan, 6.1, 2.3, nan, 6.3, 3.4, 5.6, 2.4, 2. , 6.4, 3.1,
       5.5, 1.8, nan, 6. , 3. , nan, nan, 2. , nan, 3.1, 5.4, 2.1, nan,
       6.7, 3.1, 5.6, nan, 2. , 6.9, nan, nan, 2.3, 2. , nan, 2.7, nan,
       1.9, nan, 6.8, 3.2, nan, 2.3, 2. , nan, nan, nan, 2.5, nan, nan,
       nan, 5.2, 2.3, 2. , nan, 2.5, nan, nan, nan, 6.5, 3. , 5.2, nan,
       2. , nan, nan, 5.4, 2.3, 2. , 5.9, nan, 5.1, nan, nan])

In [7]:
np.append(np.array(['A']),df.columns[df.isna().any()].values)

array(['A', 'G'], dtype=object)

In [8]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [9]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [10]:
# df[np.random.randint():'sepal length (cm)']
df.loc[df.sample(10, random_state=32).index,'sepal length (cm)'] = np.nan

In [11]:
df[~pd.isnull(df).any(axis=1)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [12]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

imp_mean.fit(df[~pd.isnull(df).any(axis=1)])
X = df[pd.isnull(df).any(axis=1)]
res = imp_mean.transform(X)

In [13]:
df[pd.isnull(df).any(axis=1)].index

Int64Index([21, 22, 23, 26, 34, 55, 56, 85, 131, 134], dtype='int64')

In [14]:
x = set().add('all')
x.add('all')

AttributeError: 'NoneType' object has no attribute 'add'

In [ ]:
x

{'all',
 'petal length (cm)',
 'petal width (cm)',
 'sepal length (cm)',
 'sepal width (cm)',
 'target'}